.dsc-card{
    height: 170px;
    max-width: 350px;
    border:1px solid rgba(0,0,0,0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-left: 3px solid rgb(25,94,221);
    transition: all 300ms;
    margin-bottom: 30px;
    &__img{
        height: 100px;
        width: 100px;
        padding: 0.5rem ;
        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            margin-bottom: 0.5rem;
            box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.15);
        }
    }
    &__info{
        border-left: 1px solid rgba(0,0,0,0.25);
        padding: 0.25rem;
        p{
            opacity: 0.5;
        }
        
    }
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
}