form{
    margin: 30px;
}

.options{
    margin: 50px auto;
    width: 50%;
    box-shadow: 10px 5px 15px 2px rgba(0,0,0,0.43);
    border-radius: 10px;
}

.options button{
    margin: 10px;
}

.green{
    color: green;
}