
<!-- <div class="container-fluid" style="width: 100%;">
    <div class="row bg-dark h-100">
        <div class="col-12 px-0">
            <app-carousel [items]="carouselData"></app-carousel>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-title-h1 type="primary" [text]="title" [pricePesos]="pricePesos"></app-title-h1>
            <button class="btn btn-primary" (click)="addAmount()">Agregar 10 pesos</button>
        </div>
        <!-- <ng-container *ngIf="users; else elseUserLoader">
            <app-card-user [data]="user" *ngFor="let user of users" class="col-12 col-md-6 col-xl-4"></app-card-user>
        </ng-container>
        <ng-template #elseUserLoader>
            <app-card-loader class="col-12 col-md-6 col-xl-3" [bars]="4" [barHeight]="7" *ngFor="let i of [0,1,2,3,4,5,6,7]"  ></app-card-loader>
        </ng-template> -->
    </div>
</div>